<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>苹果叶片病害检测</title>
	<link rel="stylesheet" href="/statics/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/statics/css/mobile.css">
	<script src="/statics/js/mobile.js" type="text/javascript"></script>
</head>
<center>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="/index" class="logo"><img src="/statics/images/nwafunet3.png" alt=""></a>
				<ul id="navigation">
					<li class="selected">
						<a href="/index">网站首页</a>
					</li>
					<li>
						<a href="/about">苹果叶片病害检测</a>
					</li>
					<li>
						<a href="/projects">模型实现</a>
					</li>
					<li>
						<a href="/contact">联系专家</a>
					</li>
					 <li>
						<a href="/suggest">苹果叶片病介绍</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body" class="home">
			<div class="header">
				<div>
					<img src="/statics/images/222222.png" alt="" class="satellite">
                    <center>
					<h1>苹果叶片病害检测</h1>
					</center>
					<a href="/about" class="more">在线检测</a>
					<h3>苹果叶片病害检测</h3>
					<ul>
						<li>
							<a href="/about"><img src="/statics/images/pic02.jpg" alt=""></a>
						</li>
						<li>
							<a href="/about"><img src="/statics/images/pic03.jpg" alt=""></a>
						</li>
						<li>
							<a href="/about"><img src="/statics/images/pic04.jpg" alt=""></a>
						</li>
						<li>
							<a href="/about"><img src="/statics/images/pic05.jpg" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div> -->
			<div class="body">
				<div>
					<h1>我们的服务</h1>
					<p>为您提供最准确的苹果叶片检测结果</p>
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li>
							<h1>全国苹果病虫害防控协作网</h1>
							<a href="http://www.pingguo-xzw.net/index.asp"><img src="/statics/images/1.jpg" alt=""><span></span></a>
						</li>
						<li>
							
							<ul>
							<li>
									
									<h1>农产品交易网</h1>
									<span>为广大果农提供交易平台</span>
									<a href="http://www.nongnet.com/" class="more">链接</a>
								</li>
								<h1>团队信息</h1>
								<li>
									<a href="https://www.nwsuaf.edu.cn/"><img src="/statics/images/xinong.png" alt=""></a>
									<h1>西北农林科技大学信息工程学院</h1>
									<span>Detection For Apple Leaf Disease</span>
									<span>队员：江鹏，杨沁晨，邓茜，李静月</span>
									<a href="https://www.nwsuaf.edu.cn/" class="more">西北农林科技大学官网链接</a>
								</li>
								
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		</div>
	</div>
</body>
</center>
</html>