<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>检测</title>
	<link rel="stylesheet" href="/statics/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/statics/css/mobile.css">
	<link rel="shortcuticon"href="https://static.gaitubao.net/favicon.ico">
	<style type="text/css">
	</style>
	<script src="/statics/js/mobile.js" type="text/javascript"></script>
</head>
<body>
			<div id="page">
				<div id="page">
					<div id="header">
						<div>
							<a href="index.html" class="logo"><img src="/statics/images/nwafunet3.png" alt=""></a>
							<ul id="navigation">
								<li>
									<a href="/index">网站首页</a>
								</li>
								<li>
									<a href="/about">苹果叶片病害检测</a>
								</li>
								<li>
									<a href="/projects">模型实现</a>
								</li>
								<li>
									<a href="/contact">联系专家</a>
								</li>
								<li class="selected">
					             	<a href="/suggest">苹果叶片病介绍</a>
				             	</li>
							</ul>
						</div>
					</div>
					<div id="body">
						<div class="header">
							<div>
								<h1>常见叶片病介绍</h1>
								<!-- <p>  </p> -->
								<ul>
									<li>
										<a href="proj1.html"><img src="/statics/images/changjian1.jpg" alt=""></a>
										<div>
											<h1>苹果褐斑病</h1>
											<p>苹果褐斑病苹果褐斑病可以发生在所有苹果品种上，有针芒状、同心轮纹状、混合型和褐点型四种不同类型的症状。典型症状为“绿缘褐斑”，即当病叶脱落时，正常叶组织内叶绿素分解变黄，病斑褐色，病斑外缘仍保持绿色.</p>
											<a href="http://www.360doc.com/content/17/1006/07/4738008_692539653.shtml" class="more">防治</a>
										</div>
									</li>
									<li>
										<a href="proj1.html"><img src="/statics/images/changjian2.jpg" alt=""></a>
										<div>
											<h1>苹果斑点落叶病</h1>
											<p><span>天气潮湿时，病部正反面均可长出墨绿色至黑色霉状物。严重时，多斑融合成不规则大斑，叶即穿孔或破碎，生长停滞，枯焦脱落</span></p>
											<a href="http://www.360doc.com/content/17/1006/07/4738008_692539653.shtml" class="more">防治</a>
										</div>
									</li>
									<li>
										<a href="proj1.html"><img src="/statics/images/changjian3.jpg" alt=""></a>
										<div>
											<h1>苹果花叶病</h1>
											<p><span>沿脉变色型：沿脉失绿黄化，形成一个黄色网纹，叶脉之间多小黄斑，而大型褪绿斑区较少。此外，有些株系产生线纹或环斑症状。</span></p>
											<a href="http://www.360doc.com/content/17/1006/07/4738008_692539653.shtml" class="more">防治</a>
										</div>
									</li>
									<li>
										<a href="proj1.html"><img src="/statics/images/changjian4.jpg" alt=""></a>
										<div>
											<h1>苹果锈病</h1>
											<p><span>为害叶片、新梢、果实。叶片先出现橙黄色、油亮的小圆点。后扩展，中央色深，并长出许多小黑点</span></p>
											<a href="http://www.360doc.com/content/17/1006/07/4738008_692539653.shtml" class="more">防治</a>
										</div>
									</li>
                                    <li>
										<a href="proj1.html"><img src="/statics/images/changjian5.jpg" alt=""></a>
										<div>
											<h1>苹果泡斑病</h1>
											<p><span>可为害叶片和果实。叶片中脉有逐渐坏死现象，叶背中脉出现褐色痂状坏死，叶片卷曲皱缩。</span><span>果实皮孔周围出现小块病斑，后逐渐扩大，病斑中部呈深褐色疤状稍凹陷，边缘暗紫色，大部分呈圆形，病斑只发生在浅层，不引起腐烂。</span></p>
											<a href="http://www.360doc.com/content/17/1006/07/4738008_692539653.shtml" class="more">防治</a>
										</div>
									</li>

									 <li>
										<a href="proj1.html"><img src="/statics/images/changjian6.jpg" alt=""></a>
										<div>
											<h1>苹果轮斑病</h1>
											<p><span>叶片染病：主要侵染嫩叶，病斑多集中在叶缘。病斑初期为褐色至黑褐色圆形小斑点，后扩大，叶缘的病斑呈半圆形。</span><span>叶片中部的病斑呈圆形或近圆形，淡褐色且有明显轮纹，病斑较大，</span><span>老病斑中央部分呈灰褐至灰白色，其上散生黑色小粒点，病斑常破裂或穿孔。高温潮湿时，病斑背面长出黑色霉状物，即病菌分生孢子梗和分生孢子。</span></p>
											<a href="http://www.360doc.com/content/17/1006/07/4738008_692539653.shtml" class="more">防治</a>
										</div>
									</li>

									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</body>
</html>